.logo_ng {
  margin: auto;
  text-align: center;
  height: 60px;
  width: 246px;
  margin-bottom: 10px;
}
.fpts-menu {
  margin: auto;
  text-align: center;
  padding-top: 10px;
  ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    & a {
      padding: 0 10px;
      border-right: 1px solid #ddd;
      color: #4c4c4c;
      font-size: 14px;
    }
  }
  & li:last-child a {
    border-right: none;
  }
}
.Form {
  width: 80%;
  margin: auto;
  text-align: center;
  align-items: center;
  & .nav-login {
    min-width: 300px;
    max-width: 329px;
    margin: auto;
  }
  & .fpts-login {
    background-color: #fff;
    border-radius: 11px;
    padding: 16px 0;
    margin-top: 34px;
    border: 1px solid #ddd;
    & .img-circle {
      margin: 0px auto;
      display: block;
      height: 48px;
      width: 48px;
      margin-bottom: 0 !important;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  .form-group {
    margin-bottom: 10px;
    & .txtPassword {
      position: relative;
      i {
        position: absolute;
        cursor: pointer;
        top: 36%;
        right: 15%;
      }
    }
    & .errorMessage {
      text-align: left;
      color: red;
      font-size: 10px;
      padding-left: 32px;
    }
  }
  #frmLogin .form-group input {
    margin: 8px auto;
    font-family: Segoe UI, arial;
    width: 80%;
    background-color: #fff;
    padding: 7px 12px;
    height: unset;
    display: inline-block;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    &:focus {
      background-color: #faffbd;
    }
  }
  & .fpts-btn-login {
    margin-top: 8px !important;
    width: 80%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    &:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }
  }
  & .idDisable:hover{
    cursor: not-allowed !important;
  }
  & .fpts-support {
    margin-bottom: 40px;
    padding-top: 10px;
  }
  & .fpts-introEzOpen {
    font-style: italic;
    font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial",
      "Lucida Grande", "sans-serif";
    color: #666;
  }
}
.DownLoadApp {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 44px;
  .fpts-support-mobile {
    text-align: center;

    p {
      margin: 0;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  .fpts-images {
    width: 23%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 48px;
    display: flex;
    // flex-grow:  10px;
    img {
      width: 125px;
    }
  }
}
.fpts-caption {
  text-align: center;
  padding: 8px 0;
  background-color: #ccc;
  & ul li {
    display: inline-block;
    position: relative;
    color: #000;
    min-width: 228px;
    &:last-child::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 0px;
      height: 0%;
      background-color: #6b6b6b;
    }
    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 1px;
      height: 65%;
      background-color: #6b6b6b;
    }
    a {
      text-decoration: none;
      display: block;
      cursor: pointer;
      text-transform: uppercase;
      display: block;
      padding: 0 40px !important;
      color: #000;
    }
  }
}
.fpts-footer {
  background-color: #4d4d4d;
  color: #fff;
  padding: 25px 0 30px;
  margin: auto;
  display: flex;
  justify-content: center;

  .adresCty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    padding-left: 4%;
    div {
      padding: 10px;
      & .fpts-title {
        color: #e56f21;
        font-size: 16px;
        margin-bottom: 18px;
      }
      div ul li {
        list-style-type: none;
        padding: 3px 0px;
        display: flex;
        justify-content: flex-start;
        img {
          width: 15px;
          height: 15px;
          float: left;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
}
