.form-search {
  background: rgb(251, 251, 251);
  border-radius: 1px;
  width: 500px;
  box-shadow: 0 3px 10px rgba(251, 251, 251, 0.4);
  margin: 2px 0;
  cursor: default !important;
  max-height: 302px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px rgba(251, 251, 251, 0.4);
  overflow-y: auto;
  z-index: 1000;
  ul {
    li {
      padding: 5px;
      line-height: 1.2em;
      border-bottom: 1px solid rgba(128, 128, 128, 0.15);
      font-size: 9pt;
      &:hover {
        background-color: rgba(128, 128, 128, 0.21);
      }
    }
  }
}
