
.menuSearch{
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 0px 3px 0.5px #9a29294f;
    background: rgb(251, 251, 251);
    border-radius: 1px;
    height: auto;
    max-height: 302px;
    &  ul li {
        padding: 5px;
        line-height: 1.2em;
        font-size: 9pt;
        &:hover{
            cursor: pointer;
        }
    }
    & .liboder{
        border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    }
    & .LinoneBorder{

    }
}
.NoneBoder {
    top: 106%;
    border: none;
    box-shadow: 0px 0px 3px 0.5px #a80c0c4f;
    border-radius: 2px;
}
