.ParentHeaderPage {
  display: flex;
  justify-content: space-between;
}
.HeaderTextShow {
  line-height: 60px;
  height: 60px;
  padding-left: 40px;
  font-size: 15px;
  color: rgb(35, 113, 175);
  cursor: pointer;
  text-decoration: underline;
}
.HeaderPage {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
.fileExcelPDF {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.fileExcelPDF img {
  width: 33px;
  height: 33px;
}
.FromAction {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  line-height: 60px;
  padding-right: 15px;
}

.FromAction div {
  padding: 0px 5px;
}
.From_grup {
  display: flex;
}
.From_grup select {
  font-size: 12px;
  padding: 3px 4px;
  width: 80px;
  outline: none;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 31px;
}
.From_grup select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.From_grup label {
  font-family: arial;
  font-size: 8pt;
  font-weight: bold;
  white-space: nowrap;
  text-align: left;
  color: #000000;
}
#btn-cn {
  border: 1px solid #2371af;
  width: auto;
  height: 30px;
  color: #333;
  display: inline-block;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 0px;
  border-radius: 4px;
}
#btn-cn:hover {
  background-color: #2371af !important;
  color: #fff;
}
.From_grup input {
  width: 100px;
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
  color: #555;
  font-family: arial;
  margin-left: 5px;
  border: 1px solid #ccc;
}
.css-dev-only-do-not-override-15rg2km {
  height: 33px;
  /* top: 4px; */
  border-radius: 4px;
  padding: 5px 5px;
  top: 0px;
  font-size: 12px;
}
.ant-picker-input input {
  color: #555;
  font-size: 12px;
}
.contentActionGD {
  padding: 5px 0px;
  min-height: 555px;
  & #divGridEzTranfer {
    width: 55%;
    margin: auto;
    & #tblEzTransfer {
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      margin-top: 10px;
      & .Hide {
        display: none;
      }
      & tr,
      td {
        border: none;
        & .stepBox {
          border: 1px solid #ccc;
          padding-left: 14px;
          line-height: 20px;
          background-color: white;
          font-size: 10pt;
          padding-top: 5px;
          padding-bottom: 5px;
          width: 800px;
          overflow: hidden;
          margin: 0 auto;
          text-align: left;
        }
      }
      & .P5{
        padding-bottom: 10px !important;
      }
      & .NoteEzTransfer {
        text-align: left;
        width: 100%;
        & .txtNoteEzTransfer {
          width: 98%;
          float: left;
          padding-left: 3px;
          font-size: 12px;
        }
        & .imgNoteEzTransfer {
          display: unset;
          float: left;
        }
      }
      & #tblEzTransferInner {
        width: 70%;
        margin-left: 12%;
        float: left;
        margin-bottom: -20px;
        & .B {
          font-weight: 700;
          color: black;
        }
        & tr {
          box-sizing: border-box;
          height: 18px;
        }
      }
      & .form-control {
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        height: 31px;
        &:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }
      & .Red {
        color: red;
      }
    }

    & .tblAdvList {
      font-family: arial;
      font-size: 9pt;
      text-align: center;
      font-weight: bold;
      /* white-space: nowrap; */
      padding: 2px;
      /* table-layout: fixed; */
      float: left;
      margin-bottom: 10px;
      & th {
        padding: 0.75rem;
      }
      & .C {
        border: 1px solid #cccccc;
        background-color: #f3f3f3;
      }
      & .BIH3 {
        border: none;
        font-style: italic;
        font-size: 10px;
        font-family: arial;
        font-weight: normal !important;
        line-height: 15px;
        border-top: 1px solid white !important;
        border-left: 1px solid white !important;
        border-right: 1px solid white !important;
        border-bottom: 1px solid #ccc !important;
      }
      & .BOF {
        line-height: 30px;
        text-align: center;
        font-size: 9pt;
        color: rgb(174, 26, 26);
      }
    }
    & td {
      padding: 1px 5px !important;
      line-height: 22px !important;
      /* text-align: center; */
      font-size: 9pt;
    }
   &  #divButton{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    /* padding: 5px; */
    padding-top: 15px;
    padding-bottom: 5px;
    & #btn-cn{
      border: 1px solid #2371af;
      width: auto;
      height: 34px;
      color: #333;
      display: inline-block;
      padding: 6px 12px;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      line-height: 0px;
      border-radius: 4px;
      margin-right: 4px;
      &:hover{
        background-color: #2371af !important;
        color: #fff;
      }
    }
   }

  }
}
.contentActionGD p {
  margin-top: 10px;
  padding-left: 10px;
}
.contentActionPading {
  padding: 0px 15px;
}
.TablePage {
  width: 100%;
  border: 1px solid #dedede;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  &.tableTransfer {
    margin-top: 20px;
  }
 
}

.TablePage th {
  border: 1px solid #dedede;
  font-size: 12px;
  padding: 0px 10px;
}
$backgroundTotalBuySell: #f2f2d0;
.TablePage tbody tr {
  height: 0px !important;
  background-color: white;
  &.tdNone {
    // display: block;
  }
  &.totalbuySell {
    background: $backgroundTotalBuySell;
  }
  &.show {
    display: block;
  }
  &.hildren {
    display: none;
  }
}
.TablePage tbody tr td {
  padding: 5px 10px;
  position: relative;
  &.TotalText {
    font-weight: bold;
  }
  .iconTable {
    color: #d0c1c1 !important;
    position: absolute;
    right: 0;
    top: -2px;
    span {
      position: absolute;
      right: 10px;
      font-size: 23px;
      &.show {
        display: block;
      }
      &.hildren {
        display: none;
      }
    }
  }
}

.TablePage tbody tr:hover {
  background-color: #efe;
}
#muatt th {
  padding: 10px !important;
}
.TablePage thead {
  font-weight: bold;
}
#tableHistoryMatChing{
  & tbody{
     & tr{
      border: 1px solid #dedede;
      background-color: white;
      &.tdHover:hover {
        background-color: #efe;
        & .sellHover{
          background-color: white;
        }
      }
      & td{
        border: 1px solid #dedede;
        font-size: 12px;
        text-align: right;
        
        
      }
      & .textCenter{
        text-align: center;
      }
    }
    & .totalBuySell{
      background-color: #f2f2d0;
      font-weight: bold;
      &:hover{
        background-color: #efe;
      }
    }
    & .stockCodeTD{
      font-weight: bold;
      position: relative;
      & .icontable{
        position: absolute;
        top: 0px;
        right: 15px; 
        color: rgb(198, 195, 195);
        font-size: 15px;
        & button{
          font-size: 14pt;
        }
      }
    }
   
  } 
}
#contentActionGD {
  min-height: 630px;
}
.body__contentActionGD__buy {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 10px;
}
.body__contentActionGD__buy h4 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
}
#TablePage {
  width: 50%;
}
#TablePage th {
  padding: 10px;
}
#idHistoryCkSell th {
  padding: 0px;
}
.TitleTable {
  float: left;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: 7px;
  font-size: 12px;
}
.TitleTable:nth-child(2) {
  float: right;
  color: #298bd8;
}
.TitleTable:nth-child(2) a {
  text-decoration: none;
}
.TitleTable:nth-child(2):hover .Linkassss {
  text-decoration: none !important;
  color: red;
}

.thTable:nth-child(1) {
  width: 120px;
}
.thTable:nth-child(2) {
  width: 95px;
}
.thTable:nth-child(3) {
  width: 95px;
}
.thTable:nth-child(4) {
  width: 95px;
}
//  css báo cáo quản lý tk
#iconPageMennu {
  color: #717171;
}
.HeaderBaoCaoLeft h2 {
  padding-top: 5px;
  font-weight: bold;
  font-size: 16px;
}
.HeaderBaoCaoLeft p {
  font-style: italic;
  color: red;
  padding-left: 5px;
}
#btn-RutGon {
  width: auto;
  height: 34px;
  color: #333;
  display: inline-block;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 0px;
  border-radius: 4px;
  border: 1px solid #dedede;
  background-color: #ececec;
}
#btn-RutGon:hover {
  background-color: white;
  border: 1px black solid;
}
// menu báo cáo
.report__tabcondition__left_menu ul li {
  padding-left: 10px;
}
.item_menu_report_title {
  font-weight: bold;
}
.item_menu_report {
  display: flex;
  justify-content: space-between;
}
.item_menu_report a {
  border-radius: 4px !important;
  border: 1px solid #0055ba;
  color: #fff;
  padding: 2px 35px;
  background-color: #0055ba;
  float: right;
  text-decoration: none !important;
}
.item_menu_report a:hover {
  color: #fff;
  text-decoration: none !important;
}
.item_menu_report:hover {
  background-color: white;
}
// lưu ký  trực tuyến

.InformationOnlineResgistion {
  width: 800px;
  margin: auto;
}
.InformationOnlineResgistion_top {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px 15px;
  overflow: hidden;
}
.InformationOnlineResgistion_bottom {
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.InformationOnlineResgistion_bottom ul {
  padding-left: 40px;
}
.ResgistionItem_top {
  padding-left: 25px;
  padding-top: 15px;
}
.Resgistion_MCk {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}
.Resgistion_MCk label {
  padding-top: 5px;
  font-size: 13px;
}
.flex_Resgistion label {
  padding-right: 37px;
}
.flex_Resgistion input,
select {
  width: 230px;
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
  color: #555;
  font-family: arial;
  margin-left: 5px;
  border: 1px solid #ccc;
}
.flex_Resgistion select {
  background-color: #eeeeee;
}
.flex_Resgistion select:hover {
  pointer-events: stroke;
  cursor: no-drop;
}
.Resgistion_TCK input {
  width: 655px;
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
  color: #555;
  font-family: arial;
  margin-left: 5px;
  border: 1px solid #ccc;
  background-color: #eeeeee;
}
.Resgistion_TCK input:hover {
  pointer-events: stroke;
  cursor: no-drop;
}
.soluongRes {
  padding-right: 24px !important;
}
.luuyResgistion {
  color: red;
  font-size: 9pt;
  font-style: italic;
  // font-family: ;
}
.textCMND {
  font-size: 9pt;
  font-style: italic;
}
.from_sumit {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.from_sumit > div {
  margin-right: 10px;
}
.from_sumit label {
  line-height: 35px;
  // padding-right: 25px;
}
.from_sumit input {
  width: 280px;
  height: 34px;
  padding: 2px;
  font-size: 12px;
  color: #555;
  font-family: arial;
  border: 1px solid #ccc;
}
.iconKey {
  background-color: #e1d9d9;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #645959;
}
// đặt điều kiện lệnh
.ConditionalOrder_main {
  width: 65%;
  margin: auto;
  padding-top: 20px;
}
.ConditionalOrder_Title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #134c7d;
}
.ConditionalOrder_Title a {
  text-decoration: none !important;
  color: #f47e34;
}
.ConditionalOrder_Title a:hover {
  text-decoration: none !important;
  color: #f47e34;
}
.boxdivCondi {
  margin-bottom: 15px;
}
.borderDiv {
  border: 1px solid #ccc;
  padding: 3px 0px;
  width: 100%;
}
.ConditionalOrder_table table {
  border: 1px solid #ccc;
  text-align: center;
}
.RHeader {
  font-weight: bold;
  background-color: #d3d3d3;
  padding: 5px 0px;
}
.RHeader td {
  padding: 5px 0px;
}
.from_sumit_condi {
  padding-top: 0px !important;
}
.solenhDieuKien {
  text-align: center;
  padding: 10px;
  color: blue;
  font-size: 15px;
}
.solenhDieuKien:hover {
  color: red;
}
.solenhDieuKien a {
  text-decoration: none !important;
  color: blue;
}
.solenhDieuKien a:hover {
  text-decoration: none !important;
  color: red;
}
.divCongBo {
  padding: 10px;
}
.divCongBo h4 {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.text-iconghichu {
  font-size: 28px !important;
  padding-left: 5px;
  color: #cccccc;
  position: absolute;
  bottom: 0;
}
.formCondi {
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr 1.3fr 0.5fr;
  grid-gap: 10px;
}
.formCondi table {
  width: 100%;
  margin: auto;
}

.fromGrupCondi {
  display: flex;
  flex-direction: column;
}
.fromGrupCondi_action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
#fromGrupCondi_actionDK {
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr;
  grid-gap: 8px;
}
.fromGrupCondi label {
  margin-bottom: 10px;
}
.fromGrupCondi_action input {
  width: 100%;
  height: 25px;
  font-size: 12px;
  color: #555;
  font-family: arial;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 2px;
}
.fromGrupCondi_action input:focus {
  background-color: #faffbd;
}
.fromGrupCondi_action select {
  width: 100%;
  height: 25px;
  font-size: 12px;
  color: #555;
  font-family: arial;
  border: 1px solid #ccc;
  padding: 0px 0px 0px 3px;
  border-radius: 4px;
}
.disableActivon:hover {
  cursor: no-drop;
}
.disableActivon {
  background: #ededed;
}
.fromGrupCondi_actionDK label {
  font-size: 12px;
  text-align: center;
}
.fromGrupCondi_actionDK {
  padding: 5px 0px;
  text-align: center;
}
.tetsagydhsad {
  margin-bottom: 10px;
}
.priceStartUnit {
  position: relative;
}
.priceStartUnit span {
  position: absolute;
  bottom: 0;
  left: 1px;
  font-weight: 500;
}
//  báo cáo tài sản dòng
.contentNAV {
  width: 840px;
  margin: auto;
}
.headerNAV {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
}
.titleNAV_text {
  color: red;
  font-size: 13px;
  font-style: italic;
}
.taisanRong {
  width: 100%;
}
.title_page {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.title_page label {
  font-size: 13px;
}
.title_page label span {
  font-style: italic;
}
.title_page label h1 {
  font-weight: bold;
  color: #717171;
  font-weight: bold;
  font-size: 16px;
}
.iconExit {
  position: absolute;
  right: -26px;
  top: -2px;
  font-size: 18px;
}
.tableAR thead tr td span {
  position: relative;
}
.tableAR thead tr {
  background-color: #ececec;
}
.tableAR tbody tr td {
  padding: 5px;
}
.tableAR tbody tr td span {
  position: relative;
}
.color_textBCTS {
  color: #717171;
}
.contentStockDetail {
  width: 60%;
  margin: auto;
}
.P15 {
  padding: 15px;
}
#divGrid h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
#id__curr__margin__tbl td,
th {
  padding: 5px 0px;
  font-weight: bold;
}
#curr__margin__tbl__tbody a {
  color: blue;
  font-weight: bold;
}
#curr__margin__tbl__tbody a:hover {
  cursor: pointer;
}
#curr__margin__tbl__tbody tr:hover {
  background-color: #efe;
}
// pouppage
.PopupPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  color: #ffff;
  padding: 10px;
}
.activePopupPage {
  display: block !important;
}
.acviveItmePoup {
  display: none;
}
.dieukhoan-boxes-content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  top: 20%;
  left: 35%;
  border: 1px solid #888;
  width: 350px;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-height: 500px;
  min-height: 115px;
}
.intro-dieukhoan-boxes {
  width: 100%;
  padding: 2px 16px;
  background-color: #034e94;
  color: #fff;
  text-align: center;
  font-family: "Helvetica";
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}
.intro-dieukhoan-boxes span {
  text-align: right;
  line-height: 28px;
}
.intro-dieukhoan-boxes .close {
  font-size: 30px;
  line-height: 22px;
  float: right;
  padding-left: 96%;
}
.close {
  float: right;
  font-weight: bold;
  top: 0;
  border-radius: 20px;
  width: 30px;
  opacity: 1;
}
.dieukhoan-body-boxes {
  width: 100%;
  padding: 2px 16px;
  height: 415px;
  overflow-y: scroll;
}
.table_utct thead tr {
  background-color: #f3f3f3;
}
.table_utct thead tr th {
  color: #000000;
  border: 1px solid #dfdfdf;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
#id__stock__settlement__tbl thead tr th {
  padding: 0px;
}
#cash__settlement__tbl__tbody tr:hover {
  background-color: #efe;
}
#cash__settlement__tbl__tbody td {
  line-height: 22px;
  padding: 5px;
}
#id__cash__settlement__tbl th {
  padding: 0px;
}
.table__DepositoryHistory th {
  border: 1px solid #ddd;
  background-color: #ececec;
  text-align: center;
  padding: 7px 10px 7px 10px;
  font-size: 12px;
  line-height: 1.42857143;
  vertical-align: top;
  font-weight: bold;
}
.cw-group-header {
  color: #000;
  font-size: 10pt;
  padding: 3px;
  text-transform: uppercase;
  font-weight: 700;
}
#id__report__cw__tbl2 tr th {
  font-weight: bold;
  background-color: #f3f3f3;
}
#id__list__fee__tbl th {
  background-color: #ececec;
}
// #id__list__fee__tbl  th ,td {
//   border: 1px solid #dfdfdf;
// }
