.FromAction {
  display: flex;
  justify-content: flex-end;
  height: 75px;
  line-height: 75px;
  padding-right: 15px;
}
.FromAction div {
  padding: 0px 5px;
}
.From_grup {
  display: flex;
}
.From_grup select {
  font-size: 12px;
  padding: 3px 4px;
  width: 100px;
  outline: none;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 31px;
}
.From_grup select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.From_grup label {
  font-family: arial;
  font-size: 8pt;
  font-weight: bold;
  white-space: nowrap;
  text-align: left;
  color: #000000;
}
#btn-cn {
  border: 1px solid #2371af;
  width: auto;
  height: 34px;
  color: #333;
  display: inline-block;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 0px;
  border-radius: 4px;
}
#btn-cn:hover {
  background-color: #2371af !important;
  color: #fff;
}
.From_grup input {
  width: 130px;
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
  color: #555;
  font-family: arial;
  margin-left: 5px;
  border: 1px solid #ccc;
}
.css-dev-only-do-not-override-15rg2km {
  height: 33px;
  /* top: 4px; */
  border-radius: 4px;
  padding: 5px 5px;
  top: 0px;
  font-size: 12px;
}
.ant-picker-input input {
  color: #555;
  font-size: 12px;
}
.contentActionGD {
  padding: 5px 0px;
  min-height: 555px;
}
.contentActionGD p {
  margin-top: 10px;
  padding-left: 10px;
}
.contentActionPading {
  padding: 0px 15px;
}
.TablePage {
  width: 100%;
  border: 1px solid #dedede;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}
.TablePage th {
  border: 1px solid #dedede;
  font-size: 12px;
  padding: 0px 10px;
}
#muatt th{
  padding: 10px !important;
}
.TablePage  thead{
  font-weight: bold;
}
#contentActionGD {
  min-height: 630px;
}
.body__contentActionGD__buy {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 10px;
}
.body__contentActionGD__buy h4 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
}
#TablePage {
  width: 50%;
}
#TablePage th{
  padding: 10px
}
#idHistoryCkSell th {
    padding: 0px;
}
.TitleTable {
  float: left;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: 7px;
  font-size: 12px; 
}
.TitleTable:nth-child(2){
  float: right;
  color: #298bd8;
}
.TitleTable:nth-child(2) a {
  text-decoration: none;
}
.TitleTable:nth-child(2):hover .Linkassss{
  text-decoration: none !important;
  color: red;
}

.thTable:nth-child(1) {
  width: 120px;
}
.thTable:nth-child(2) {
  width: 95px;
}
.thTable:nth-child(3) {
  width: 95px;
}
.thTable:nth-child(4) {
  width: 95px;
}
