.body__content__report {
  span {
    color: #000000;
  }
  .asset__report__TONGTT__tbl2__tbody {
    margin: 20px;
    #showNoteText4 {
      font-weight: bold;
      font-size: 16px;
      font-family: Arial;
      padding: 0 0 0 15px;
      line-height: 27px;
      position: relative;
      top: 1px;
      > i.fa.fa-info-circle {
        font-size: 16px;
        margin-left: 1px;
        color: #717171;
      }
      #totalGTTTvaTien {
      }
    }
  }
  #buttonRutGon {
    margin-right: 15px;
    border-radius: 4px !important;
    border: 1px solid #dedede;
    padding: 5px 15px;
    background-color: #ececec;
    margin-bottom: 5px;
    font-family: Arial;
    line-height: 1.42857143;
    &:hover {
      background-color: #f7f7f7;
      cursor: pointer;
      border: 1px solid #717171;
    }
  }
  #buttonDayDu {
    margin-right: 15px;
    border-radius: 4px !important;
    border: 1px solid #dedede;
    padding: 5px 15px;
    background-color: #ececec;
    margin-bottom: 5px;
    font-family: Arial;
    line-height: 1.42857143;
    &:hover {
      background-color: #f7f7f7;
      cursor: pointer;
      border: 1px solid #717171;
    }
  }
  .body__content__asset__report__2 {
    .report__tabcondition_BCTS {
      display: grid;
      margin-top: 5px;
      grid-template-columns: 395px 1fr;
      background-color: rgb(255, 255, 255);
      padding: 0px 20px;
      grid-template-columns: 330px 1fr;
      // gap: 15px;
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
      }
      @media screen and (min-width: 1700px) and (max-width: 1950px) {
        grid-template-columns: 400px 1fr;
      }
      @media (min-width: 1001px) and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
      }
      .report__tabcondition__left {
        width: 100%;
        padding-right: 15px;
        padding-bottom: 10px;
        line-height: 25px;
        @media (max-width: 1000px) {
          padding-right: 0;
        }
        @media (min-width: 1001px) and (max-width: 1200px) {
          padding-right: 0;
        }
        .fit__table__leftBCTS {
          background-color: #ececec;
          padding: 5px;
          margin-right: 0 !important;
          @media screen and (min-width: 1700px) and (max-width: 1950px) {
            padding: 17px 5px !important;
          }
          table {
            td {
              line-height: 22px !important;
              text-align: left;
              border: 0;
              @media screen and (min-width: 1700px) and (max-width: 1950px) {
                padding: 4px 5px !important;
              }
              span {
                font-size: 12px;
                font-family: Arial;
                &.report__text__profile_name__BCTH {
                  padding-left: 10px;
                }
                > i.fa.fa-info-circle {
                  font-size: 14px;
                  margin-left: 1px;
                  color: #717171;
                }
              }
              input[type="button"] {
                border-radius: 4px !important;
                border: 1px solid #0055ba;
                color: #fff;
                padding: 2px 35px;
                background-color: #0055ba;
                float: right;
              }
              span[data-title] {
                position: relative;

                &:hover:after {
                  content: attr(data-title);
                  position: absolute;
                  top: -55px;
                  left: 46px;
                  padding: 0 10px;
                  z-index: 30;
                  width: 300px;
                  // max-width: 300px;
                  font-weight: 300;
                  // white-space: nowrap;
                  display: inline-block;
                  box-shadow: 5px 5px 13px 0 #a39f9f;
                  background: #fffff0;
                  border-radius: 5px;
                  transition-delay: 5.2s;
                  border: 1px solid #dedede;
                }
                &:hover:before {
                  content: "";
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  background: #fffff0;
                  top: -15px;
                  left: 60px;
                  z-index: 100;
                  transform: rotate(45deg);
                  box-shadow: -10px 0px -10px -5px #a39f9f;
                }
              }
              span#showNoteText7 {
                z-index: 100;
                &:hover::after {
                  width: 230px;
                  left: 0;
                }
                &:hover::before {
                  left: 22px;
                }
              }
              span#showNoteText6 {
                z-index: 200;
                &:hover::after {
                  width: 165px;
                  left: 25px;
                }
                &:hover::before {
                  left: 40px;
                }
              }
            }
          }
        }
      }
      .asset__report__BCTH__tbl {
        height: 523px;
        overflow: auto;
        position: relative;
        width: 100%;
        z-index: 1;
        @media (min-width: 1700px) and (max-width: 1950px) {
          height: 651px !important;
        }
        table {
          td,
          th {
            font-size: 12px;
            font-family: Arial;
            height: 22px !important;
          }
          .table_trans_thead {
            // background: #f3f3f3 !important;
            position: sticky;
            top: 0;
            z-index: 999;
            &::after {
              width: 100%;
              height: 100%;
              background: rgb(222, 222, 222);
              content: "";
              position: absolute;
              top: -1px;
              left: 0;
              right: 0;
              z-index: -1;
            }
            th {
              font-weight: bold;
              text-align: center;
              padding: 4px;
              background-color: #f3f3f3 !important;
              border: 1px solid rgb(222, 222, 222);
              color: #000000;
              line-height: 1.43;
              // vertical-align: middle;
              &.tablesorter,
              &.tablesorter-headerAsc,
              &.tablesorter-headerDesc {
                background-image: url("../../images/sort-up-down.svg");
                background-position: right 2px center;
                cursor: pointer;
                background-size: 10px;
                background-repeat: no-repeat;
                padding: 4px 20px 4px 4px;
              }
              &.tablesorter-headerAsc {
                background-size: 9px;
                background-image: url("../../images/sort-down.svg");
                padding: 4px 20px 4px 4px;
              }
              &.tablesorter-headerDesc {
                background-size: 13px;
                background-image: url("../../images/sort-up.svg");
                padding: 4px 20px 4px 4px;
              }
            }
            td {
              padding: 1px 5px !important;
            }
          }
          tbody {
            tr {
              height: 23px !important;
              &:hover {
                background: #eeffee;
              }
              &:nth-child(even) {
                background: #f7f7f7;
                &:hover {
                  background: #eeffee;
                }
              }
              &:first-child {
                td {
                  border-top: 0 !important;
                }
              }
              td {
                border: 1px solid rgb(222, 222, 222);
                line-height: 22px !important;
                span.tkl_show_title[data-title] {
                  position: relative;
                  &:hover::after {
                    content: attr(data-title);
                    position: absolute;
                    top: 100%;
                    left: 120%;
                    padding: 1px 2px;
                    border: 1px solid #717171;
                    background: #f7f7f7;
                    // z-index: 100;
                    white-space: nowrap;
                    display: inline-block;
                  }
                }
              }
            }
          }
          tfoot {
            background: #ececec;
            position: sticky;
            bottom: 0;
            td {
              border: 1px solid rgb(222, 222, 222);
              // line-height: 22px !important;
            }
            &.tbl_sort {
              position: sticky;
              bottom: 0;
            }
          }
        }
      }
    }
  }
}
