.border-bottom-menu:after {
    content: "";
    height: 1px;
    background-color: #dadadc;
    left: 25px;
    right: 5px;
    bottom: 0;
    position: absolute;
}
.border-bottom-menu:before{
        content: "";
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-bottom-color: #054d95;
        position: absolute;
        left: -11px;
        top: -3px;
        -webkit-transform: rotate(20deg);
        transform: rotate(-45deg);  
}
.border-bottom-menu1:after {
    content: "";
    height: 1px;
    background-color: #dadadc;
    left: 25px;
    right: 5px;
    bottom: 0;
    position: absolute;
}
.border-bottom-menu1:before{
    content: "";
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-bottom-color: #054d95;
        position: absolute;
        left: -11px;
        top: -11px;
        -webkit-transform: rotate(20deg);
        transform: rotate(-45deg);  
}
.btnTTTK{
    width: 170px;
    height: unset;
    background: #339cdf;
    color: #fff;
    padding: 7px 20px 8px 20px;
    text-shadow: 0px -1px #278db8;
    border: 1px solid #339cdf;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
    font-size: 9pt;
    text-align: center;
}
.SDTM{
    border: 1px solid #dedede;
    min-width: 338px;
}
.MBR{
    border: 1px solid #dedede;
    box-shadow: 5px 5px 13px 0 #dad8d8
}
.BGTB{
    justify-content: center;
}
.tt-t{
    background-color: #fff;   
    border-bottom: 1px solid #dedede;
    margin-left: 260px;
    /* padding: 0 10px 22px; */
}
.tttt{
    border: 1px solid #dedede;
}
 #btnUpQty{
    transform: rotate(-90deg);
    top: -21px;
    right: 1px;
    font-size: 2.2rem;
    border: none;
    font-size: 2.2rem;
    
}
#btnDownQty{
    transform: rotate(-90deg);
    top: -58px;
    border: none;
    right: 1px;
    font-size: 2.2rem;
}

input[type=text], txtSymbol {
    outline: none;
    
    border: 1px solid #DDDDDD;
  }
  input[type=text]:focus, txtSymbol:focus {
    box-shadow:0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
.container-spinner {
    position: relative;
}
#btnUpPrice{
    transform: rotate(-90deg);
    top: -21px;
    right: -1px;
    font-size: 2.2rem;
    border: none;
}
#btnDownPrice{
    transform: rotate(-90deg);
    top: -58px;
    right: -1px;
    font-size: 2.2rem;
    border: none;
}
.spinner {
    right: 3px;
    top: 2px;
    width: 1.3rem;
    position: absolute;
    background: #fff;
    border-radius: 0.5rem;
    display: none;
    height: 24px;
    display:block;
}
.size{
    font-size: 14px;
    text-transform: uppercase
}
.size-li{
    font-size: 14px;
}
.tabBuy{
    background-color: #0055ba;
    cursor: default;
    border: 1px solid #2491eb;
}
.btnBuyGui{
    padding: 4px 20px 3px;
    padding-bottom: 4px;
    margin-top: 6px;
    width: 100px;
}
#btnReset {
    background-color: #fff;
    border: 1px solid #ccc!important;
    border-radius: 5px;
    display: flex;
    margin-left: 10px;
    margin-right: -8px;
    margin-top: 8px;
    padding-bottom: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 90px;
}
.size-input{
    font-size: 13px;
}
.group-buysell>div{
    border: unset;
    text-transform: uppercase;
    padding: 8px 10px 8px;
    line-height: 100%;
    color: #fff;
    background-color: #b3b3b3;
    cursor: pointer;
    font-size: 14px;
}
#tabBuy{
    background-color: #0055ba;
}
.gb_srv{
    top: -10px;
    right: 66px;
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    left: 45px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: rgba(0,0,0,.2);
    top: 27px;
}
#account {
    top: -7px;
    position: relative;
}
.glyphicon-triangle-bottom:before {
    content: "\e252";
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#divArrowBottomDown {
    margin-top: 0;
    text-align: center;
    cursor: pointer;
    
}
#divArrowBottomUp{
    margin-top: 0;
    height: 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    
}
.glyphicon-triangle-top:before {
    content: "\e253";
}
#spanArrowDown{
    font-size: 45px;
    color: #b3b3b3;
    margin-top: -10px;
}
.icon-spnTitlePanelBottom{
    font-size: 45px !important;
    color: #b3b3b3;
}
