.border-bottom-menu:after {
    content: "";
    height: 1px;
    background-color: #dadadc;
    left: 25px;
    right: 5px;
    bottom: 0;
    position: absolute;
}
.border-bottom-menu:before{
        content: "";
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-bottom-color: #054d95;
        position: absolute;
        left: -11px;
        top: -3px;
        -webkit-transform: rotate(20deg);
        transform: rotate(-45deg);  
}
.border-bottom-menu1:after {
    content: "";
    height: 1px;
    background-color: #dadadc;
    left: 25px;
    right: 5px;
    bottom: 0;
    position: absolute;
}
.border-bottom-menu1:before{
    content: "";
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-bottom-color: #054d95;
        position: absolute;
        left: -11px;
        top: -11px;
        -webkit-transform: rotate(20deg);
        transform: rotate(-45deg);  
}
.btnTTTK{
    width: 170px;
    height: unset;
    background: #339cdf;
    color: #fff;
    padding: 7px 20px 8px 20px;
    text-shadow: 0px -1px #278db8;
    border: 1px solid #339cdf;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
    font-size: 9pt;
    text-align: center;
}
.SDTM{
    border: 1px solid #dedede;
    min-width: 338px;
}
.MBR{
    border: 1px solid #dedede;
    box-shadow: 5px 5px 13px 0 #dad8d8
}
.BGTB{
    justify-content: center;
}
.tt-t{
    background-color: #fff;   
    border-bottom: 1px solid black;
    /* padding: 0 10px 22px; */
}
.tttt{
    border: 1px solid #dedede;
}
 #btnUpQty{
    transform: rotate(-90deg);
    top: -10px;
    right: -3px;
    font-size: 20px;
}
#btnDownQty{
    transform: rotate(-90deg);
    top: 4px;
    right: 4px;
    font-size: 20px;
}

input[type=text], txtSymbol {
    outline: none;
    
    border: 1px solid #DDDDDD;
  }
  input[type=text]:focus, txtSymbol:focus {
    box-shadow:0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
/* .ms-sel-ctn>input[type=text]:focus {
    border: 2px solid #0055ba;
    outline:none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.container-spinner>input[type=text]:focus {
    border: 2px solid #0055ba;
    outline:none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
} */
.container-spinner {
    position: relative;
}
#btnUpPrice{
    transform: rotate(-90deg);
    top: -10px;
    right: -3px;
    font-size: 20px;
}
#btnDownPrice{
    transform: rotate(-90deg);
    top: 4px;
    right: 4px;
    font-size: 20px;
}
.spinner {
    right: 3px;
    top: 2px;
    width: 1.3rem;
    position: absolute;
    background: #fff;
    border-radius: 0.5rem;
    display: none;
    height: 24px;
    display:block;
}
.size{
    font-size: 14px;
    text-transform: uppercase
}
.size-li{
    font-size: 14px;
}
.tabBuy{
    background-color: #0055ba;
    cursor: default;
    border: 1px solid #2491eb;
}
.btnBuyGui{
    padding: 6px 20px 3px;
    padding-bottom: 2px;
    margin-top: 6px;
    width: 100px;
}
#btnReset {
    background-color: #fff;
    border: 1px solid #ccc!important;
    border-radius: 5px;
    display: flex;
    margin-left: 10px;
    margin-right: -8px;
    margin-top: 8px;
    padding-bottom: 2px;
    padding-top: 5px;
    width: 90px;
}
