header {
  .dark-text {
    color: #fff !important;
  }
  &.dark-header {
    background: #0a1929 !important;
    .header-left {
      .dark-text {
        color: #fff !important;
      }
    }
    .header-center {
      ul {
        li {
          background: none;
          a {
            color: #fff !important;
          }
          ul {
            background: #202020;
          }
        }
      }
    }
    .header-right {
      button {
        > div {
          color: #fff !important;
        }
      }
    }
  }
  &.green-header{
    background: #0a1929 !important;
    
  }
}

.dark-header {
  background: #0a1929 !important;
}

.dark-text{
  color: #fff !important;
}