body{
    height: 100%;
}

.message { 
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    color: #ff0000;
}
.message a {
    color: #337ab7;
    text-decoration: none;
}
a:hover{
    text-decoration: underline !important;
    color: #337ab7; 
}
.test {
    display: flex;
    flex-direction: column;
}
.contentMain{
    min-height: calc( 100vh - 41px - 40px - 34px);
 }