.table__price {
  & .ag-header-group-cell:not(.ag-column-resizing)+.ag-header-group-cell:not(.ag-column-hover):not(.ag-header-cell-moving):hover {
    background-color: #444;
  }

  &.ag-header-cell:not(.ag-column-resizing)+.ag-header-cell:not(.ag-column-hover):not(.ag-header-cell-moving):hover {
    background-color: #444;
  }

  &.ag-header-cell:not(.ag-column-hover):first-of-type:not(.ag-header-cell-moving):hover,
  .ag-header-cell:not(.ag-column-hover):first-of-type.ag-column-resizing {
    background-color: #1d1d1d;
  }

  & .custom-header {
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-family: arial;
    font-size: 8pt;
    background: #1d1d1d;
    color: white !important;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: center;
    padding: 5px 7px;
  }

  & .ag-row-even {
    cursor: move;
  }

  & .ag-header-group-cell {
    padding: 5px 7px;
    user-select: none;
    background: #1d1d1d;
    color: white !important;
    cursor: pointer;
    font-weight: bold;
    font-family: arial;
    font-size: 0.688rem;
    // border: 1px solid #858585 !important;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: center;
  }

  & .ag-header-group-text {
    margin: 0 auto !important;
  }

  & .ag-header-cell-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & .ag-header-cell-label {
    text-overflow: clip !important;
    overflow: visible !important;
    white-space: normal !important;
    margin: 0 auto !important;
  }

  & .score-cell {
    font-family: Arial;
    font-size: 0.688rem;
    text-align: right;
    //  border-right: 1px solid #505050 !important;
    border-left: 1px solid #505050 !important;
    // border-bottom: 1px solid #505050 !important;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & .text-white {
      color: white;
    }

    & .text-blue {
      color: blue;
    }

    & .text-violet {
      color: violet;
    }

    & .text-yellow {
      color: #f7ff31;
    }

    & .text-green {
      color: green;
    }

    & .text-red {
      color: red;
    }
  }

  & .custom-cell {
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: end;
    height: 25px;
    font-size: 10pt !important;
    background-color: #1D1D1D;
    & span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  & .custom-cell-other{
    background-color: #444;
  }
  & .tc-header {
    background-color: #444;
    /* Màu nền cho header của trường TC */
  }

  & .ag-cell {
    padding: 0px 3px 0px !important;
    border: 0px solid transparent;
    background: #1D1D1D;
  }

  & .ag-grid-container {
    background: #05040e;
    /* Màu nền tùy chỉnh */
  }

  & .tc-cell {
    background-color: #444 !important;
  }

  & .custom-header {
    border-left: 1px solid #858585 !important;
  }

  & .custom-header:last-child {
    border-right: 1px solid #858585 !important;
  }

  & .ag-root-wrapper {
    border: none !important;
    // border-right: 1px solid #858585 !important;
  }

  & .cell-stock {
    cursor: pointer !important;
    font-size: 12px !important;
    align-items: center;
    text-align: start;
    justify-content: start;
    ;
  }

  & .ag-header-cell-text {
    margin: 0 auto;
  }

  & .ag-row {
    background-color: #1d1d1d;
  }

  & .checkbox_price {
    border-radius: 2px;
    height: 13px;
    width: 13px;
    margin-left: 4px;
  }

  & .ag-row {
    border-bottom: 1px solid #505050 !important;

    & .ag-cell:last-child {
      border-right: 1px solid #505050 !important;
    }
  }

  & .ag-row-pinned:last-child {
    border-bottom: 1px solid #00ff00 !important;
  }

  & .ag-root-wrapper {
    border-top: 1px solid #858585 !important;
    /* border: var(--ag-borders) var(--ag-border-color); */
  }

  & .ag-header {
    border-bottom: 1px solid #858585 !important;
  }

  & .ag-header-row:not(:first-child) .ag-header-cell:not(.ag-header-span-height.ag-header-span-total),
  & .ag-header-row:not(:first-child) .ag-header-group-cell.ag-header-group-cell-with-group {
    /* border-top: var(--ag-borders-critical) var(--ag-border-color); */
    border-top: 1px solid #858585 !important;
  }

  & .ag-cell-pinning {
    cursor: pointer;
  }

  & .ag-header-cell,
  .ag-header-cell-text,
  .ag-header-cell-sortable .ag-header-cell-label {
    cursor: url(../../images/menuMW/sort_full.png), auto;

  }

  & .ag-header-group-cell-with-group:hover:nth-child(1) {
    background-color: #1D1D1D !important;
  }
  & .cell-default{
    background-color: #1D1D1D !important;
  }
}

// .ag-theme-alpine {
//   --ag-header-height: 30px;
// }
.form-group select {
  width: 60%;
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
}


.arrow-left {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: none;
  border-right: 8px solid white;
  left: 0px;
  position: relative;
  top: 10px;
  right: 4px;
  bottom: 0;
  left: -4px;
}

.arrow-right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid white;
  position: relative;
  top: 10px;
  right: -4px;
  bottom: 0;
}

// popup detail Table
.context-menu-list {
  position: absolute;
  display: inline-block;
  min-width: 130px;
  max-width: 360px;
  padding: 1px 0;
  margin: 5px;
  font-family: Arial;
  font-size: 9pt !important;
  font-size: inherit;
  list-style-type: none;
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 0px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  & li {
    position: relative;
    padding: 6px 10px;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-bottom: 1px double rgba(128, 128, 128, 0.32);
    white-space: nowrap;

    &:hover {
      color: #fff;
      cursor: pointer;
      z-index: 1;
      background-color: #22b14c;
      -webkit-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.4);
      box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.4);

      & i {
        color: #fff !important;
      }
    }

    & span {
      padding-left: 10px;
    }
  }
}

.ag-theme-alpine-dark {
  --ag-row-hover-color: #444;
}

.ag-theme-alpine-dark {
  --ag-grid-size: 4px !important;
  --ag-list-item-height: 30px !important;
}

.table-priceboard {
  // border: 1px solid #858585 !Important;
  background-color: #1d1d1d;
  font-size: 11px;

  & thead {
    border: 1px solid #858585 !important;

    & tr th {
      padding: 7px;
      border: 1px solid #858585;
    }
    & .trPanigation td{
        border: none;
    }
  }

  & tbody {
    & tr td {
      padding: 2px 3px 0px !important;
      line-height: 1.5em !important;
      border: 1px solid #505050;
      font-weight: 400;
      font-size: 13.333333px;
      text-align: right;

      &:first-child {
        white-space: nowrap;
        text-align: left;
      }

      &:first-child span {
        font-size: 12px;
        margin-top: 2px;
      }

      & input[type="checkbox"] {
        border-radius: 2px;
        height: 13px;
        width: 13px;
        margin-left: 2px;
      }
    }
  }
}

.dvContentLP {

  margin: 0 !important;
  background: #131722;
  max-width: 100%;
  overflow-x: auto;

  & #dvSTTIndexs,
  #dvSTTIndex {
    padding-top: 10px;
    border: 1px double #505050;
    border-bottom: none;
  }

  & .input {
    display: block;
    margin: 5px;
    width: 50%;
    height: 24px;
    padding: 3px 3px;
    font-size: 9pt;
    font-family: Arial;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  & .label_price {
    color: white;
    display: flex;
    margin: 0 10px 0 3px;
    font-size: 9pt;
    line-height: 3em;
    width: 30px;
    padding-left: 2px;
  }
  & #label_price{
    width: 25%;
  }

  & .button_Statistics {
    line-height: 1em;
    width: 20%;
    border-radius: 0px;
    margin: 2px 5px !important;
    height: 30px;
    min-width: 60px;
    background-color: #5cb85c;

    &:hover {
      background-color: #2371af !important;
    }
  }
}





// .arrow__tooltip {
//   // color: red;
//   // background-color: red;
//   border: none;
//   box-shadow: none;
//   border: 0px !important;
//   width: 8px;
//   height: 8px;
//   line-height: 8px;
//   // left: 2px;
//   // top: -8px;
// }

// /* Tooltip container */
// // .tooltip {
// //     position: relative;
// //     display: inline-block;
// //     border-bottom: 1px dotted black;
// //   }

// //   /* Tooltip text */
// //   .tooltip .tooltiptext {
// //     visibility: hidden;
// //     width: 120px;
// //     background-color: #555;
// //     color: #fff;
// //     text-align: center;
// //     border-radius: 6px;
// //     padding: 5px 0;

// //     /* Position the tooltip text - see examples below! */
// //     position: absolute;
// //     z-index: 1;
// //   }

// //   /* Show the tooltip text when you mouse over the tooltip container */
// //   .tooltip:hover .tooltiptext {
// //     visibility: visible;
// //   }
// .has-symbol {
//   position: relative;

//   &::before {
//     content: attr(data-tooltip);
//     position: absolute;
//     //   transform: translateX(-50%);
//     left: 55px;
//     top: 28px;
//     background-color: #e5f6fe;
//     color: #000;
//     padding: 5px;
//     border-radius: 5px;
//     font-size: 12px;
//     white-space: nowrap;
//     opacity: 0;
//     transition: opacity 0.2s ease-in-out;
//     z-index: 1000;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     top: 25px;
//     // bottom: -20%;
//     left: 65px;
//     margin-left: -5px;
//     border-top: 0;
//     border-bottom: 5px solid #e5f6fe;
//     border-right: 5px solid transparent;
//     border-left: 5px solid transparent;
//     opacity: 0;
//     transform: rotate(-135deg);
//     transition: opacity 0.2s ease-in-out;
//     z-index: 1000;
//     // -webkit-transform: rotate(-45deg);
//   }

//   &:hover::before {
//     opacity: 1;
//   }
//   &:hover::after {
//     opacity: 1;
//   }
// }

// .table-priceboard {
//   border: 1px solid #858585 !important;
// }
// .table {
//   margin-bottom: 5px;
// }
// #dvFixedH {
//   margin: 0 !important;
//   background: #131722;
//   max-width: 100%;
//   overflow-x: auto;
// }
// #dvFixedH #dvContentLP {
//   min-width: 960px;
// }
// div#dvContentLP {
//   overflow-x: auto !important;
//   position: relative;
//   /* top: 30px; */
//   z-index: 1;
//   min-height: 200px;
// }
// .table-responsive {
//   border: none !important;
// }
// tr.border-bottom:last-child {
//   border-bottom: 1px double #00ff00 !important;
// }

// /* Tùy chỉnh thanh cuộn */
// .dvContentLP::-webkit-scrollbar {
//   width: 10px;
// }

// .dvContentLP::-webkit-scrollbar-track {
//   background-color: #f5f5f5;
// }

// .dvContentLP::-webkit-scrollbar-thumb {
//   background-color: #a9a9a9;
//   &:hover {
//     background-color: #555555;
//   }
// }

// // .has-symbol.company-tooltip[data-tooltip]::after {
// //     bottom: -20%;
// //     left: 50%;
// //     margin-left: -5px;
// //     border-top: 0;
// //     border-bottom: 5px solid #e38008;
// //     border-right: 5px solid transparent;
// //     border-left: 5px solid transparent;
// // }

// // [data-tooltip]:before {
// //     position: absolute;
// //     content: attr(data-tooltip);
// //     width: 160px;
// //     background-color: #e38008;
// //     border-radius: 3px;
// //     line-height: 1.2;
// //     font-weight: 400;
// //     z-index: 5;
// //     padding: 7px;
// //     color: #fff;
// //     text-align: center;
// //     font-size: 110%;
// // }
// // [data-tooltip]:before {
// //     visibility: hidden;
// //     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
// //     filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
// //     opacity: 0;
// //     pointer-events: none;
// // }
// // .has-symbol.company-tooltip[data-tooltip]:before {
// //     width: 250px;
// //     left: 82px;
// //     margin-right: 0;
// //     opacity: 1;
// // }
// // [data-tooltip]:after {
// //     position: absolute;
// //     content: " ";
// //     font-size: 0;
// //     line-height: 0;
// //     width: 0;
// //     z-index: 5;
// // }
// // [data-tooltip]:after, [data-tooltip]:before {
// //     visibility: hidden;
// //     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
// //     filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
// //     opacity: 0;
// //     pointer-events: none;
// // }
// // [data-tooltip]:hover::before,[data-tooltip]:hover::before{
// //     opacity: 1;
// // }
// // [data-tooltip]:before {
// //     position: absolute;
// //     content: attr(data-tooltip);
// //     width: 160px;
// //     background-color: #e38008;
// //     border-radius: 3px;
// //     line-height: 1.2;
// //     font-weight: 400;
// //     z-index: 5;
// //     padding: 7px;
// //     color: #fff;
// //     text-align: center;
// //     font-size: 110%;
// // }
// // .has-symbol.company-tooltip[data-tooltip]:before, .tooltip-bottom[data-tooltip]:before {
// //     top: 120%;
// //     left: 82px;
// //     margin-left: -80px;
// //     margin-right: 0;
// // }
// //   .has-symbol.company-tooltip[data-tooltip]:before {
// //     width: 250px;
// //     left: 82px;
// //     margin-right: 0;
// // }
// // .has-symbol.company-tooltip[data-tooltip]:before, .tooltip-bottom[data-tooltip]:before {
// //     top: 120%;
// //     left: 50%;
// //     margin-left: -80px;
// // }
// // .disable-hover {
// //   pointer-events: none !important;
// // }