.table-priceboard {
    border: 1px solid #858585 !Important;
}
.table {
    margin-bottom: 5px;
}
#dvFixedH {
    margin: 0 !important;
    background: #131722;
    max-width: 100%;
    overflow-x: auto;
}
#dvFixedH #dvContentLP {
    min-width: 960px;
}
div#dvContentLP {
    overflow-x: auto !important;
    position: relative;
    /* top: 30px; */
    z-index: 1;
    min-height: 200px;
}
.table-responsive {
    border: none !important;
}
tr.border-bottom:last-child {
    border-bottom: 1px double #00ff00 !important;
  }
