
.table-priceboard {
    // border: 1px solid #858585 !Important;
    background-color: #1d1d1d;
    font-size: 11px;

    & thead {
        border: 1px solid #858585 !Important;

        & tr th {
            padding: 7px;
        }

    }

    & tbody {
        & tr td {
            padding: 2px 3px 0px !important;
            line-height: 1.5em !important;
            border: 1px solid #505050;
            font-weight: 400;
            font-size: 13.333333px;
            text-align: right;

            &:first-child {
                white-space: nowrap;
                text-align: left;
            }

            &:first-child span {
                font-size: 12px;
                margin-top: 2px;

            }

            & input[type='checkbox'] {
                border-radius: 2px;
                height: 13px;
                width: 13px;
                margin-left: 2px;
            }
        }
    }
}

.table {
    margin-bottom: 5px;
}

#dvFixedH {
    margin: 0 !important;
    background: #131722;
    max-width: 100%;
    overflow-x: auto;
}

#dvFixedH #dvContentLP {
    min-width: 960px;
}

div#dvContentLP {
    overflow-x: auto !important;
    position: relative;
    /* top: 30px; */
    z-index: 1;
    min-height: 200px;
}

.table-responsive {
    border: none !important;
}

.table-priceboard thead tr th {
    border: 1px solid #858585;
}

.context-menu-list {
    position: absolute;
    display: inline-block;
    min-width: 130px;
    max-width: 360px;
    padding: 1px 0;
    margin: 5px;
    font-family: Arial;
    font-size: 9pt !important;
    font-size: inherit;
    list-style-type: none;
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: 0px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

    & li {
        position: relative;
        padding: 6px 10px;
        color: black;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #fff;
        border-bottom: 1px double rgba(128, 128, 128, 0.32);
        white-space: nowrap;

        &:hover {
            color: #fff;
            cursor: pointer;
            z-index: 1;
            background-color: #22B14C;
            -webkit-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.4);

            & i {
                color: #fff !important;
            }
        }

        & span {
            padding-left: 10px;
        }


    }
}

.input {
    display: block;
    margin: 5px;
    width: 50%;
    height: 24px;
    padding: 3px 3px;
    font-size: 9pt;
    font-family: Arial;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.label_price {
    color: white;
    display:flex;
    margin: 0 10px 0 3px;
    font-size: 9pt;
    line-height: 3em;
    width: 100px;
    padding-left: 2px;


}

.button_Statistics {
    line-height: 1em;
    width: 20%;
    border-radius: 0px;
    margin: 2px 5px !important;
    height: 30px;
    min-width: 60px;
    background-color: #5cb85c;

    &:hover {
        background-color: #2371AF !important;
    }
}

#tableHNX {
    background: #131722;
}

#idContextMenu li i {
    width: 20px;
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.2em;


}
tr.border-bottom ~ tr.border-bottom {
    border-bottom: 1px double #00ff00 !important;
  }
.example {
    color: #222;
    background-color: #e5f6fe;
    padding: 5px;
    font-size: 13px;
    left: 20px;
    top: 20px;
}

/** add next line only if you want to have tooltip arrow with a different background color from tooltip **/
.example .example-arrow {
    background-color: rgb(255, 0, 0);
}

.arrow__tooltip {
    // color: red;
    // background-color: red;
    border: none;
    box-shadow: none;
    border: 0px !important;
    width: 8px;
    height: 8px;
    line-height: 8px;
    // left: 2px;
    // top: -8px;
}


/* Tooltip container */
// .tooltip {
//     position: relative;
//     display: inline-block;
//     border-bottom: 1px dotted black;
//   }

//   /* Tooltip text */
//   .tooltip .tooltiptext {
//     visibility: hidden;
//     width: 120px;
//     background-color: #555;
//     color: #fff;
//     text-align: center;
//     border-radius: 6px;
//     padding: 5px 0;

//     /* Position the tooltip text - see examples below! */
//     position: absolute;
//     z-index: 1;
//   }

//   /* Show the tooltip text when you mouse over the tooltip container */
//   .tooltip:hover .tooltiptext {
//     visibility: visible;
//   }
.has-symbol {
    position: relative;

    &::before {
        content: attr(data-tooltip);
        position: absolute;
        //   transform: translateX(-50%);
        left: 55px;
        top: 28px;
        background-color: #e5f6fe;
        color: #000;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        z-index: 1000;
    }

    &::after {
        content: '';
        position: absolute;
        top: 25px;
        // bottom: -20%;
        left: 65px;
        margin-left: -5px;
        border-top: 0;
        border-bottom: 5px solid #e5f6fe;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        opacity: 0;
        transform: rotate(-135deg);
        transition: opacity 0.2s ease-in-out;
        z-index: 1000;
        // -webkit-transform: rotate(-45deg);
    }

    &:hover::before{
        opacity: 1;
    }
    &:hover::after{
        opacity: 1;
    }
}

.table-priceboard {
    border: 1px solid #858585 !Important;
}
.table {
    margin-bottom: 5px;
}
#dvFixedH {
    margin: 0 !important;
    background: #131722;
    max-width: 100%;
    overflow-x: auto;
}
#dvFixedH #dvContentLP {
    min-width: 960px;
}
div#dvContentLP {
    overflow-x: auto !important;
    position: relative;
    /* top: 30px; */
    z-index: 1;
    min-height: 200px;
}
.table-responsive {
    border: none !important;
}
tr.border-bottom:last-child {
    border-bottom: 1px double #00ff00 !important;
  }
  
/* Tùy chỉnh thanh cuộn */
.dvContentLP::-webkit-scrollbar {
    width: 10px;
  }
  
  .dvContentLP::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  .dvContentLP::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
     &:hover{
        background-color: #555555;
        
     }
  }


// .has-symbol.company-tooltip[data-tooltip]::after {
//     bottom: -20%;
//     left: 50%;
//     margin-left: -5px;
//     border-top: 0;
//     border-bottom: 5px solid #e38008;
//     border-right: 5px solid transparent;
//     border-left: 5px solid transparent;
// }

// [data-tooltip]:before {
//     position: absolute;
//     content: attr(data-tooltip);
//     width: 160px;
//     background-color: #e38008;
//     border-radius: 3px;
//     line-height: 1.2;
//     font-weight: 400;
//     z-index: 5;
//     padding: 7px;
//     color: #fff;
//     text-align: center;
//     font-size: 110%;
// }
// [data-tooltip]:before {
//     visibility: hidden;
//     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//     filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
//     opacity: 0;
//     pointer-events: none;
// }
// .has-symbol.company-tooltip[data-tooltip]:before {
//     width: 250px;
//     left: 82px;
//     margin-right: 0;
//     opacity: 1;
// }
// [data-tooltip]:after {
//     position: absolute;
//     content: " ";
//     font-size: 0;
//     line-height: 0;
//     width: 0;
//     z-index: 5;
// }
// [data-tooltip]:after, [data-tooltip]:before {
//     visibility: hidden;
//     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//     filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
//     opacity: 0;
//     pointer-events: none;
// }
// [data-tooltip]:hover::before,[data-tooltip]:hover::before{
//     opacity: 1;
// }
// [data-tooltip]:before {
//     position: absolute;
//     content: attr(data-tooltip);
//     width: 160px;
//     background-color: #e38008;
//     border-radius: 3px;
//     line-height: 1.2;
//     font-weight: 400;
//     z-index: 5;
//     padding: 7px;
//     color: #fff;
//     text-align: center;
//     font-size: 110%;
// }
// .has-symbol.company-tooltip[data-tooltip]:before, .tooltip-bottom[data-tooltip]:before {
//     top: 120%;
//     left: 82px;
//     margin-left: -80px;
//     margin-right: 0;
// }
//   .has-symbol.company-tooltip[data-tooltip]:before {
//     width: 250px;
//     left: 82px;
//     margin-right: 0;
// }
// .has-symbol.company-tooltip[data-tooltip]:before, .tooltip-bottom[data-tooltip]:before {
//     top: 120%;
//     left: 50%;
//     margin-left: -80px;
// }
.custom-header{
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-family: arial;
    font-size: 8pt;
    background: #1d1d1d;
    color: white !important;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: center;
    padding: 5px 7px;


}
.ag-header-group-cell{
    padding: 5px 7px;
    user-select: none;
    background: #1d1d1d;
    color: white !important;
    cursor: pointer;
    font-weight: bold;
    font-family: arial;
    font-size: .688rem;
    // border: 1px solid #858585 !important;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
  
    text-align: center;
}
.ag-header-group-text{
    margin: 0 auto !important;
    
}
.ag-header-cell-label {
    text-overflow: clip !important;
    overflow: visible !important;
    white-space: normal !important;
}
.score-cell {
    font-family: Arial;
    font-size: .688rem;
    text-align: right;
  //  border-right: 1px solid #505050 !important;
    border-left: 1px solid #505050 !important;
    // border-bottom: 1px solid #505050 !important;

    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .score-cell.text-white {
    color: white;
  }
  
  .score-cell.text-blue {
    color: blue;
  }
  
  .score-cell.text-violet {
    color: violet;
  }
  
  .score-cell.text-yellow {
    color: #F7FF31;
  }
  
  .score-cell.text-green {
    color: green;
  }
  
  .score-cell.text-red {
    color: red;
  }
  .ag-grid-container {
    background: #1d1d1d; /* Màu nền tùy chỉnh */
  }
  
  .tc-header {
    background-color: #505050; /* Màu nền cho header của trường TC */

  }
  
  .tc-cell {
    background-color: #505050; /* Màu nền cho cell của trường TC */
   // border-right: 1px solid #858585  !important;
    border-left: 1px solid #858585  !important;
   // border-bottom: 1px solid #858585  !important;
  }
  .custom-header {
    border-left: 1px solid #858585 !important;

  }
  .ag-theme-alpine-dark{
    --ag-grid-size: 4px !important;
    --ag-list-item-height: 30px !important;

  }
//   .ag-root-wrapper {
//     pointer-events: none;
//   }
  