.glyphicon-refresh {
    color: #1d60bc;
    font-weight: bold;
    position: relative;
    top: 1px;
    left: 10px;
    cursor: pointer;
}
 .focus_none:focus{
    /* box-shadow:0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    border-color: rgb(102, 175, 233); */
   
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 0%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 0%);
  }
.bottom__sdTien__title{
    padding: 5px 10px;
}
.groupSwitch .slider.round {
    border-radius: 34px;
    width: 55px;
    height: 22px;
}
.groupSwitch .on, .groupSwitch .off {
    color: #fff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 12px;
    font-family: Arial;
}
.groupSwitch .off {
    left: 70%;
}
.groupSwitch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 6px;
    bottom: 5px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
.groupSwitch .slider.round:before {
    border-radius: 50%;
}
.groupSwitch .switch .slider::before {
    bottom: 4px;
}
.groupSwitch .switch {
    
    height: 15px;
    margin-left: 3px;
}
.group-buysell>div{
    border: unset;
    text-transform: uppercase;
    padding: 9px 12px 8px;
    line-height: 100%;
    color: #fff;
    background-color: #b3b3b3;
    cursor: pointer;
    font-size: 13px;
}
.group-buysell .tabBuy.active {
    background-color: #0055ba;
    cursor: default;
    border: 1px solid #2491eb;
}
.tabBuy{
    background-color: #0055ba;
    cursor: default;
    border: 1px solid #2491eb;
}
.btnBuyGui{
    padding: 4px 20px 3px;
    height: 29px;
    margin-top: 3px;
   
}
#btnReset {
    background-color: #fff;
    border: 1px solid #ccc!important;
    border-radius: 5px;
    display: flex;
    margin-right: -8px;
    margin-top: 6px;
    padding:3px 0px;

    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
}
.panelDatLenhThuong input {
    height: 29px !important;
}
#btnUpQty{
    transform: rotate(-90deg);
    top: -15px;
    right: -4px;
    font-size: 1.8rem;
    border: none;
}
#btnDownQty{
    transform: rotate(-90deg);
    top: -1px;
    border: none;
    right: 5px;
    font-size: 1.8rem;
}
#btnUpPrice{
    transform: rotate(-90deg);
    top: -15px;
    right: -5px;
    font-size: 1.8rem;
    border: none;
}
#btnDownPrice{
    transform: rotate(-90deg);
    top: -1px;
    border: none;
    right: 5px;
    font-size: 1.8rem;
}
.divReset{
    max-width: 100px;
    text-align: left;
    padding-right: 20px;
    margin-left: -15px; 
}
.btnBuyGui:hover, .btnBuyGhi:hover {
    background-color: #3987c5 !important;
}
#divBot #txtSymbolBase .ms-sel-ctn {
    overflow: auto;
    line-height: 18px;
    padding-right: 0px !important;
    text-transform: uppercase;
}
#divPanelBottom .button-spinner:hover {
    color: #808080;
}
.group-buysell .tabSell.active {
    background-color: #d71920;
    cursor: default;
    border: 1px solid #2491eb;
}
#panel-bottom table tr th, #panel-bottom table tr td {
    padding: 0 6px !important;
}
.bottom__sdCKhoan__content table thead tr th {
    padding-left: 0;
    padding-right: 0;
    background-color: #dcdcdc !important;
    border-right: 1px solid #c7c7c7;
}
table {
    width: 100%;
}
tr {
    box-sizing: border-box;
    height: 22px !important;
}

.bottom__sdCKhoan__content {
  
    & table tbody tr{
        &:last-child{
            border: 1px solid #dedede
        }
     ;
    &:hover{
    background: #efe;      
   }
   & td {
    text-align: center;
    padding: 0px 6px;
    border: 1px solid #dedede;
    font-size: 13px;
    border-bottom: none;
    & .btnSellStockBalance {
        width: 70%;
        height: 21px !important;
        border-radius: 4px !important;
        background-color: #d71920;
        padding: 3px !important;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        } 
    
      }
    }
    
}
  .bottom-right .top .btn-submit-all {
    float: right;
    color: #fff;
    background-color: #2ab934;
    text-transform: uppercase;
    border-radius: 5px;

    margin-bottom: 10px;
    padding: 2px 5px;
    font-size: 12px;
    &:hover{
        background-color: #069d00 !important;
        cursor: pointer;
    }
}
.bottom__sdCKhoan__footer {
    text-align: right;
    margin-top: 5px;
}
.bottom__sdCKhoan__content__thead__chonTM {
    width: 80px;
}
#spanShowAll, #spanShowLimit {
    color: #0055ba;
}
.sell {
    color: #9C0A0A;
}
.bottom-center {
    left: 50%;
    top: 50px;
    position: absolute;
}
.bottom-right {
    float: left;
    width: 48%;
    border: 1px solid #dedede;
    padding: 5px;
}
.table-pending thead{
    background-color:#EEEEEE ;
    & th{
     border: 1px solid #dedede;
    font-size: 13px;
    border-bottom: none;
    font-weight: 400;
    }
}

button#btnReset:hover {
    border: 1px solid #66afe9 !important;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
@media screen and (min-width: 1400px) and (max-width: 1900px) {
    .groupSwitch .switch {
        height: 15px;
    }
}