.glyphicon-refresh {
    color: #1d60bc;
    font-weight: bold;
    position: relative;
    top: 1px;
    left: 10px;
    cursor: pointer;
}
.bottom__sdTien__title{
    padding: 5px 10px;
}
.groupSwitch .slider.round {
    border-radius: 34px;
    width: 55px;
    height: 22px;
}
.groupSwitch .on, .groupSwitch .off {
    color: #fff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 12px;
    font-family: Arial;
}
.groupSwitch .off {
    left: 70%;
}
.groupSwitch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 6px;
    bottom: 5px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
.groupSwitch .slider.round:before {
    border-radius: 50%;
}
.groupSwitch .switch .slider::before {
    bottom: 4px;
}
.groupSwitch .switch {
    
    height: 15px;
    margin-left: 3px;
}
.group-buysell>div{
    border: unset;
    text-transform: uppercase;
    padding: 8px 10px 8px;
    line-height: 100%;
    color: #fff;
    background-color: #b3b3b3;
    cursor: pointer;
    font-size: 14px;
}
.group-buysell .tabBuy.active {
    background-color: #0055ba;
    cursor: default;
    border: 1px solid #2491eb;
}
.tabBuy{
    background-color: #0055ba;
    cursor: default;
    border: 1px solid #2491eb;
}
.btnBuyGui{
    padding: 4px 20px 3px;
    height: 29px;
    margin-top: 3px;
   
}
#btnReset {
    background-color: #fff;
    border: 1px solid #ccc!important;
    border-radius: 5px;
    display: flex;
    margin-right: -8px;
    margin-top: 6px;
    padding:3px 0px;

    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
}
.panelDatLenhThuong input {
    height: 29px !important;
}
#btnUpQty{
    transform: rotate(-90deg);
    top: -15px;
    right: -4px;
    font-size: 1.8rem;
    border: none;
}
#btnDownQty{
    transform: rotate(-90deg);
    top: -1px;
    border: none;
    right: 5px;
    font-size: 1.8rem;
}
#btnUpPrice{
    transform: rotate(-90deg);
    top: -15px;
    right: -5px;
    font-size: 1.8rem;
    border: none;
}
#btnDownPrice{
    transform: rotate(-90deg);
    top: -1px;
    border: none;
    right: 5px;
    font-size: 1.8rem;
}
.divReset{
    max-width: 100px;
    text-align: left;
    padding-right: 20px;
    margin-left: -15px; 
}
.btnBuyGui:hover, .btnBuyGhi:hover {
    background-color: #3987c5 !important;
}
#divBot #txtSymbolBase .ms-sel-ctn {
    overflow: auto;
    line-height: 18px;
    padding-right: 0px !important;
    text-transform: uppercase;
}
#divPanelBottom .button-spinner:hover {
    color: #808080;
}
button#btnReset:hover {
    border: 1px solid #66afe9 !important;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
@media screen and (min-width: 1400px) and (max-width: 1900px) {
    .groupSwitch .switch {
        height: 15px;
    }
}