.pu-window {
  font-family: Arial, Sans-Serif;
  color: #b9b9b9;
  position: absolute;
  min-height: 650px;
  min-width: 400px;
  background-color: #060606;
  z-index: 200;
  color: #000;
  width: 1230px;
  height: 681px;
  -webkit-transition: 0.3s ease-out;
  transition: box-shadow 0.2s;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  //transform: translate(-50%, -50%) !important;
}
.highlighted {
  color: red;
}
.box-pu {
  z-index: 100000;
  position: absolute;
  cursor: move;
  color: black;
  // max-width: 215px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  padding: 1em;
  margin: auto;
  user-select: none;
  background-color: aliceblue;
  width: 1000px;
  transform: translate(-50%, -50%) !important;
}
.pu-header {
  min-height: 35px;
  background-color: rgb(238, 238, 238);
  position: relative;
  cursor: move;
}
.pu-div-button {
  float: right;
  /* width: 10%; */
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.pu-window .fa-refresh {
  padding: 11px 15px 12px;
  color: #717171;
  cursor: pointer;
}
.pu-close {
  float: right;
  /* margin: 8px 12px 0 0; */
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 1;
  color: #717171;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.8;
  & i {
    padding: 11px 15px;
  }
}
.pu-div-search {
  float: left;
  /* width: 30%; */
  display: inline-block;
}
.pu-div-search .ms-ctn {
  height: 25px;
  width: 200px;
  float: right;
  margin-top: 5px;
  padding: 0 7px;
  border-radius: 1px;
}
.ms-ctn .ms-trigger {
  top: 0;
  width: 25px;
  height: 100%;
  position: absolute;
  right: 0;
  background: transparent;
  border-left: 1px solid #ccc;
  cursor: pointer;
}
.pu-div-search .ms-sel-ctn input {
  width: 160px !important;
  margin: 3px 0 0 6px;
  // text-transform: uppercase;
  font-size: 9pt;
  float: left;
  border: 0;
  box-shadow: none;
  -webkit-transition: none;
  outline: none;
  display: block;
  padding: 0;
  line-height: 1.42857143;
}
.pu-title {
  /* color: black; */
  font-size: 9pt;
  font-weight: 700;
  margin: 0 5px;
  padding-top: 7px;
  text-align: left;
}
.pu-div-search .ms-trigger .fa-search {
  margin: 4px 6px;
  font-size: 9pt;
}
.ms-ctn .ms-trigger:hover {
  background-color: #e6e6e6;
}
.pu-div-search .ms-trigger:hover .fa-search {
  color: #66afe9;
}
.pu-close:focus,
.pu-close:hover,
.pu-window .fa-refresh:hover {
  color: #404040;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  background: rgba(204, 204, 204, 0.51) /* opacity: .5; */;
}
// .form-control{
//     position: relative;
//     display: block;
//     /* width: 100%; */
//     /* height: 34px; */
//     /* padding: 6px 12px; */
//     /* font-size: 14px; */
//     line-height: 1.42857143;
//     color: #555;
//     background-color: #fff;
//     background-image: none;
//     border: 1px solid #ccc;
// }
.pu-table {
  background-color: #333333;
  color: #929292;
  font-size: 8pt;
  border-radius: 2px;
  min-width: 270px;
  margin-bottom: 5px;
  /* width: 288px; */
  width: 100%;
}
.pu-table > thead {
  // border-bottom: 1px solid #202020;
  border-bottom: 1px solid #505050;
  /* border-width: 0.1em; */
}
.pu-table > thead > tr > th:first-child {
  text-transform: uppercase;
  padding: 5px;
  width: 150px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  border-right: 0;
  text-align: left !important;
}
.pu-table > tbody > tr {
  border-bottom: 1px solid #505050;
}
.pu-table > tbody > tr > td:first-child {
  /* font-weight: bold; */
  display: inline-block;
  width: 150px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: left;
}

.pu-table > tbody > tr > td {
  padding: 2px 4px;
  white-space: nowrap;
  /* height: 19px; */
  font-size: 8pt;
  border: none;
  line-height: 16px;
}
.pu-div-PT {
  margin-top: 5px;
  min-width: 250px;
  height: 112px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.pu-table-PT {
  /* margin-top: 12px; */
  /* width: 250px; */
  color: #fff;
  font-size: 8pt;
  border: 1px solid #505050;
}
.pu-div-oddlot {
  margin-top: 5px;
  table {
    thead {
      tr {
        th {
          background: #060606;
          color: #b9b9b9;
          font-family: Arial, Sans-Serif;
          border: 1px solid #505050;
          line-height: 9px;
        }
      }
    }
    tbody {
      tr {
        td {
          color: #b9b9b9;
          line-height: 9px;
          font-family: Arial, Sans-Serif;
        }
      }
    }
  }
}
.pu-table-PT thead tr th,
.pu-table-PT tbody tr td,
.pu-table-PT tfoot tr td {
  background: #060606;
  color: #b9b9b9;
  font-family: Arial, Sans-Serif;
  border: 1px solid #505050;
  line-height: 9px;
  font-size: 8pt;
}
.pu-table-PT tbody tr td {
  text-align: right;
  padding-right: 4px;
  border-left: 1px solid #505050;
  border-bottom: 1px solid #505050;
  padding: 2px;
}
.pu-table-realtime {
  color: #fff;
  font-size: 8pt;
  border: 1px solid #505050;
}

.pu-table-realtime > thead > tr > th:last-child {
  border-right: 1px solid #505050;
}

.pu-table-PT > thead > tr > th,
#tbOddLot > thead > tr > th,
.pu-table-realtime > thead > tr > th {
  font-size: 8pt;
}
.pu-table-realtime thead tr th,
.pu-table-realtime tbody tr td {
  background: #060606;
  color: #b9b9b9;
  font-family: Arial, Sans-Serif;
  /* -webkit-font-smoothing: antialiased; */
  border: 1px solid #333;
}
.pu-table-realtime > tbody > tr > td:nth-child(2),
.pu-table-realtime > tbody > tr > td:nth-child(3),
.pu-table-realtime > tbody > tr > td:nth-child(4) {
  text-align: right;
}
.pu-table > tbody > tr > td:last-child {
  text-align: right;
}
.pu-hrz-realtime {
  width: 391px;
  margin: 0 4px;
  position: relative;
}
.pu-div-realtime {
  width: 100%;
  height: 286px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .tempHeadTfoot{
    position: absolute;
    width: 381px;
    left: 0;
    top: 0;
  }
  table {
    color: #b9b9b9;

    tr {
      height: 22px !important;
    }
    th {
      text-align: center;
    }
    th,
    td {
      vertical-align: middle;
      font-size: 8pt;
      border: 1px solid #505050 !important;
      padding: 2px;
      line-height: 9px;
      background: #060606;
    }
  }
  // > div {
  //   width: 381px;

  // }
  // table {
  //   color: #b9b9b9;
  // }
}
#tbOddLot {
  /* margin-top: 13px; */
  width: 100%;
  color: #fff;
  font-size: 8pt !important;
  border: 1px solid #505050;
}

#tbOddLot > thead > tr > th:first-child {
  border-right: 1px solid #505050;
}
#tbOddLot > thead > tr > th:last-child {
  border-right: 1px solid #505050;
}
#tbOddLot tbody tr td {
  text-align: right;
  padding-right: 4px;
  border-left: 1px solid #505050;
  border-bottom: 1px solid #505050;
  padding: 2px;
  font-size: 8pt;
  line-height: 9px;
}

.pu-hrz-chart {
  margin: 0 5px;
  order: 3;
  white-space: normal;
  width: 400px;

  > div {
    width: 396px;
  }
  .pu-div-chart-rt {
    padding: 5px 3px 0 3px;
    background: #303030;
    rect.highcharts-plot-background {
      height: 130px;
      // width: 343px;
    }
    rect.highcharts-plot-border {
      height: 130px;
      // width: 343px;
    }
  }
  .pu-content-chart {
    padding: 3px;
    background: #303030;
    margin-top: 5px;
    .content-bt-time {
      width: 360px;
      position: relative;
      margin-left: 5%;
      height: 38px;
      padding: 6px 0px;
      div {
        border: none;
        display: inline-block;
        /* padding: 20px 15px 15px 15px; */
        /* margin: 15px auto 30px auto; */
        height: 29px;
        float: left;
        text-align: center;
        padding: 10px 0;
        background: rgb(93, 94, 95);
        width: 16.6%;
        color: #fff;
        border-right: 1px solid gray;
        border-width: 0.1em;
        border-bottom: 2px solid rgb(93, 94, 95);
        &:hover,
        &:focus,
        :active,
        &.focus,
        &.active {
          background: #787879;
          cursor: pointer;
          border-bottom: 2px solid #fff;
          padding: 10px 0;
        }
        a {
          color: rgba(243, 243, 243, 0.4);
          font-size: 8pt;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
.chart__for__time {
  .highcharts-axis-labels span:first-child {
    // left: 2px !important;
  }
  .highcharts-axis-labels span:last-child {
    // left: 370px !important;
    text-overflow: unset !important;
  }

  .highcharts-container {
    margin: 0 auto;
    // margin-left:-10px ;
    left: -5px;
    height: 165px !important;
  }
  .highcharts-tooltip {
    z-index: 9999 !important;
  }
  // .highcharts-background {
  //   height: 100px;
  // }
  .highcharts-axis-labels span:last-child {
    left: 370px !important;
    text-overflow: unset !important;
  }
  .highcharts-plot-background {
    height: 140px;
  }
  rect.highcharts-plot-border {
    height: 140px;
  }
}
.pu-ul-news {
  background: #333333;
  > li {
    list-style: none;
    /* padding: 5px; */
    border-bottom: 1px solid #505050;

    overflow: hidden;
    line-height: 18px;

    > div {
      width: 100%;
      height: 20px;
      color: #929292;
      > a {
        color: #929292;
        display: inline-block;
        white-space: nowrap;
        max-width: 390px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1px 10px;
        font-size: 11px;
      }
    }
  }
  & li:last-child {
    border: none;
  }
}

#ulNews .slick-track {
  margin: 0 !important;
  background-color: #333;
  color: #929292;
}
#ulNews .slick-slide {
  background-color: #333 !important;
  padding: 1px 10px;
  height: 24px !important;
  border-bottom: 1px solid rgba(80, 80, 80, 0.48);
  & a {
    color: #929292;
    display: inline-block;
    white-space: nowrap;
    max-width: 390px;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 11.3333px;
  }
}
